* {
  box-sizing: border-box;
  font-family: cursive;
}

html,
body {
  width: 100%;
  margin: 1em 0em 1em 0em;
  padding: 0;
  user-select: none;
  background-color: #1b1824;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.container {
  width: 340px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

img {
  width: 250px;
  border-radius: 10px;
}

h1,
h2 {
  color: white
}

h1 {
  width: 90%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 3px 3px 5px #00ACF7;
}

h2 {
  font-size: 1.1rem;
  text-shadow: 2px 2px 5px #00ACF7;
}

.input {
  width: 90%;
  font-size: .75rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  padding: .25em;
  border-radius: 5px;
  resize: none;

}

textarea::placeholder {
  font-size: .75rem;
}

.btn {
  width: 90%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 1em;
  border-radius: 5px;
  padding: .8em 0em;
  font-weight: bold;
  background-color: #00ACF7;
  border: none;
  cursor: pointer;
}

.list {
  width: 90%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  cursor: pointer;
}

p {
  list-style: none;
  width: 100%;
  background-color: #FFF79A;
  padding: 0.5em;
  font-size: .8rem;
  line-height: 1rem;
  border-radius: 5px;
  margin-top: 0em;
}